version: '3.8'

services:
  laravel-app:
    image: kocoimur0003/laravel-10v:latest
    container_name: laravel-app
    restart: unless-stopped
    networks:
      - laravel-net
    volumes:
      - ./laravel-10v:/var/www/laravel-10v
      - ./laravel-10v/storage:/var/www/laravel-10v/storage

  my-mvc-php-app:
    image: kocoimur0003/my-mvc-php-app:latest
    container_name: my-mvc-php-app
    restart: unless-stopped
    networks:
      - laravel-net
    volumes:
      - ./MemberSystemMVC:/var/www/MemberSystemMVC

  nginx:
    image: nginx
    container_name: nginx_server
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./ssl:/etc/nginx/ssl
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
      - ./laravel-10v:/var/www/laravel-10v
      - ./laravel-10v/storage:/var/www/laravel-10v/storage
      - ./MemberSystemMVC:/var/www/MemberSystemMVC
    networks:
      - laravel-net

networks:
  laravel-net:
    driver: bridge
