

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-10v
    container_name: laravel-10v
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - D:/laravel-10v-deploy:/var/www/html
    networks:
      - laravel-net


  web:
    image: nginx:alpine
    container_name: nginx-server
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - D:/laravel-10v-deploy:/var/www/html
      - ./nginx/default_local.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel-net
    depends_on:
      - app

networks:
  laravel-net:
