*{
	
	margin:0;
	padding:0;
	box-sizing:border-box;
	list-style:none;
	text-decoration:none;
}


[data-dashboard-container]{
	
	width:100%;
	height:100%;
	background-color:#EAE4D5;
	display:flex;
}

[data-side-nav]{
	
	width:30%;
    flex: 0.3;
	background-color:#F1EFEC; 
	display:flex;
	flex-direction:column;
	justify-content:start;
	align-items:center;
	gap:3rem;
}

[data-content]{
	
    width:70%;
	flex: 1;
	display:flex;
	flex-direction:column;
	//background-color:grey;
}



[data-board]{
	
	width:100%;
	height:100%;
	background-color:#EAE4D5;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position:relative;
}

[data-notice]{
	
	width:50px;
	height:50px;
	background-color:white;
	position:absolute;
	top:7%;
	left:5%;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	cursor:pointer;
	display:none;
}

[data-dashboard-input-area]{
	
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:100px;
	margin-bottom:2rem;
	gap:0.5rem;
}

#search-input{
	
  transition: 0.5s ease-in-out;
}

#search-input:focus{
	
  width:400px;
}

#data-dashboard-image{
	
	cursor:pointer;
}

[data-board-label]{
	
	width:100%;
	text-align:center;
	font-size:4rem;
	height:100px;
	margin-top:-50px;
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

[data-board-image]{
	
	width:100%;
	height:500px;
	background-image:url('/public/images/ian-dooley-DJ7bWa-Gwks-unsplash.jpg');
	background-position:center;
	background-size:cover;
	margin-top:2rem;
}

[data-member-info]{
	
	width:100%;
	height:100%;
	display:flex;
	justify-content:space-between;
	align-content:center;
	flex-wrap:wrap;
	background-color:#EAE4D5;
}

[data-info-label]{
	
	font-size:1.5rem;
}

[data-info]{
	
	width:300px;
	max-width:100%;
	height:400px;
	background-color:#B6B09F;
	margin:2rem;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:2rem;
	transition: 0.5s ease-in-out;
}

	[data-info]:hover{
		
		transform: scale(1.1);
	}
	
	[data-dashboard-button-area]{
		
		display:flex;
		justify-content:center;
		align-items:center;
		gap:3rem;
		margin-top:2rem;
	}
	
	[data-dashboard-button]{
		
		border:none;
		width:100px;
		max-width:100%;
		height:40px;
		border-radius:10px;
		cursor:pointer;
        background-color: transparent;
      border: 2px solid #8c6e3f; /* 暗金色 */
       color: #333;
	   font-size:1.3rem;
	   text-align:center;
	   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
       transition: all 0.3s ease;   	   
	}
	
	[data-dashboard-button]:hover{
		
		transform:scale(1.1);
		background-color: #8c6e3f;
		color: white;		
	}

	[data-mobile-nav]{
		
		position:fixed;
		top:60px;
		left:0;
		width:70%;
		background-color:#F1EFEC;
		height:100%;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:start;
	}
	
	[data-grey-area]{
		
		position:fixed;
		top:60px;
		right:0;
		width:30%;
		background-color:rgb(128,128,128,0.6);
		height:100%;
		cursor:pointer;
	}
	
	[data-mobile-nav-hidden]{
		
		margin-top:1rem;
		width:100%;
		max-width:100%;
		height:50px;
		//background-color:white;
		display:flex;
		justify-content:end;
		margin-right:2rem;
		align-items:center;
		cursor:pointer;
	}
	
	[data-number-bar]{
		
		width:100%;
		height:auto;
		display:flex;
		justify-content:center;
		align-items:center;
		//background-color:yellow;
	}
	
	[data-number]{
		
		width:400px;
		height:100px;
		max-width:100%;
		//background-color:blue;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	
	[data-number-ul]{
		
		width:400px;
		max-width:100%;
		height:70px;
		//background-color:white;
		display:flex;
		justify-content:center;
		align-items:center;
		gap:1rem;
	}
	
	[data-number-li]{
		
		width:40px;
		max-width:100%;
		height:40px;
		background-color:opacity;
		display:flex;
		justify-content:center;
		align-items:center;
		border-radius:10px;
		border:2px solid black;
		transition:  background-color 0.3s ease-in-out;
		font-size:1.5rem;
		font-weight:bold;
		box-shadow: 0 0 3px black;
		cursor:pointer;
	}
	
		[data-number-li]:hover{
		

		background-color:black;
		color:white;
	}
	
	#profile-container{
		
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
	height:100vh;
	overflow-y:auto;
	padding-bottom: 4rem; 
	padding-top: 4rem; 
	-webkit-overflow-scrolling: touch; /* iOS 慣性滾動 */
	}
	
	#profile-container::-webkit-scrollbar{
		
		display:none;
		
	}
	
	#button-row{
		
		margin-bottom:3rem;
	}
	
	.hidden{
		
		display:none;
	}
	
@media (max-width: 976px){
	
	[data-content]{
		
		width:100%;
	}
	
	[data-side-nav]{
		
		display:none;
	}
	
	[data-notice]{
		
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	}
	
	
}

@media (max-width: 725px){
	
	[data-info]{
		
		width:100%;
	}
	
	#search-input:focus{
	
     width:300px;
}

}