*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	list-style:none;
	text-decoration:none;
	user-select: none;
}

.nav{
	
	width:100%;
	display:flex;
	background-color:#000000;
	height:65px;
	align-items:center;
	justify-content:space-between;
	position:fixed;
	z-index:1000;
}

.icon{
	
	margin-left:10px;
	font-size:2rem;
	color:#EAE4D5;
}

.right-link{
	
	margin-right: 10px;
	display:flex;
	justify-content:space-between;
	gap:10px;
	font-size:2rem;    //1rem通常代表16px
}

.right-link a{
	
	border:1px solid #B6B09F;
	padding:0.3rem;
	border-radius:5px;
}

.middle-link{
	
	display:flex;
	justify-content:space-between;
	font-size:2rem;
	gap:10px;
	padding:5px;
}

.middle-link a{
	line-height:80%;
	height:80%;
	border-right:1px solid  #B6B09F;
	border-left:1px solid  #B6B09F;
	padding:6px;
}

nav a{
	
	color:#B6B09F;
}

#logout_button{
	
	background:black;
	border:1px solid #B6B09F;
	border-radius:5px;
	color:#EAE4D5;
	cursor:pointer;
	padding:0.3rem;
	font-size:2rem; 
}

#logout_button:hover{
		
	color: #F2F2F2;
	text-shadow: 0 0 10px #F2F2F2;
	
}

.nav a:hover{
	
	color: #F2F2F2;
	text-shadow: 0 0 10px #F2F2F2;
}


.moblie-nav
{
	width:100%;
	background-color:black;
	height:65px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding-right:10px;
    position:fixed;
	z-index:1000;
	display:none;
}

.ul-container{
	
	width:2.5rem;
	height:2.5rem;
	border-radius:10px;
	cursor:pointer;
}


.ul-form
{
	background-color:#EAE4D5;
	width:100%;
	height:100%;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:0.3rem;
	transition:0.2s ease;
	
}

.ul-form:hover{
   
   transform:scale(1.1);
   box-shadow: 1px 1px 10px #F2F2F2;
}

.ul-form li
{		
		width:2rem;
		border:2px solid black;
		border-radius:10px;
}

.ul-one
{
	transform:translate(0px,3px) rotate(45deg);
}

.ul-two
{
	display:none;
}

.ul-three
{
	transform:translate(0px,-6px) rotate(-45deg);
}

.mobile-content-menu
{
	height:100vh;
	width:60%;
	background-color:#EAEFEF;
	z-index:1000;
	position:fixed;
	top:4rem;
	right:0px;
	display:none;
}

.mobile-content-container
{	
	margin-top:2rem;
	width:100%;
	height:auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-size:2rem;
	text-align:left;
}

.mobile-content-container ul
{	
	display:flex;
	width:100%;
	max-width:200px;
	flex-direction:column;
	gap:1.5rem;
}

.mobile-content-container li
{
	width:100%;
	border-bottom:2px solid black;
	border-right:2px solid black;
	border-radius:5px;
	padding-bottom:0.3rem;
	transition:0.2s ease;
}

.mobile-content-container li:hover
{
	text-shadow:1px 1px 20px #8E1616;
	transform:scale(1.1);
}

.mobile-content-container a
{	
	display:inline-block;  //a連結只能透過inline-block來調寬度
	color:#74512D;
	width:100%;
}

.gery-block
{
	position:fixed;
	top:4rem;
	left:0px;
	width:40%;
	height:100%;
	background-color:rgb(0,0,0,0.6);
	display:none;
	cursor:pointer;
	z-index:1000;
}

.block
{
	display:block;
}

.hidden
{
	display:none;
}

@media (max-width: 786px)
{
	
	.nav
	{
		display:none;
	}
	.moblie-nav
	{
		display:flex;
	}
}