*
{
		padding:0;
		margin:0;
		list-style:none;
		text-decoration:none;
		box-sizing:bolder-box;
}


.reset-password-cover
{
	height:100vh;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color:#BF9264;
}


.reset-password-container
{
	width:400px;
	max-width:100%;
	height:450px;
	max-height:100%;
	border-radius:10px;
	border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	background: rgba(212, 201, 190, 0.9);  /* 半透明白底 */
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	gap:1.3rem;
}

.reset-password-title
{
	margin-bottom:2rem;
}

.input-set
{	
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;
	width:300px;
	max-width:100%;
	gap:0.5rem;
}


.reset-password-button
{
	width:300px;
	max-width:100%;
	height:50px;
	border-radius:10px;
	outline:none;
	border:0px solid white;
	cursor:pointer;
	margin-top:2rem;
	font-size:1.2rem;
	margin-bottom:2rem;
	background-color:#1A1A1A;
	color:#EFEEEA;	
}

.reset-password-button:hover
{
	background-color:#4B3621;
	color:#EFEEEA;	
	box-shadow: 1px 1px 10px #131010;
}